body {
    height: 200px;
    background: beige;
    }
button {
    	background-color: rgb(21, 124, 21);
	width:200px;
	height: 70px;
	font-weight:bold;
	padding: 6px;
	border-radius:5px;
}
